<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mofany.mapper.StudentMapper">
    <resultMap id="BaseResult" type="com.mofany.entity.Student">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="sex" column="sex"/>
        <result property="age" column="age"/>
    </resultMap>
    <select id="selectByName" resultMap="BaseResult" parameterType="com.mofany.entity.Student">
        select *
        from student
        where name = #{name,jdbcType=VARCHAR}
    </select>
</mapper>